.gadget-view {
  float: left;
}

.current-show__label {
  padding: 5px;
  font-size: 12px;
}

.show-picker__wrapper {
  width: 50px;
}

.show-picker__button {
  font-size: 40px;
  color: #00CCC0;
  border: none;
  background: none;
}
