.gadget-view {
}

.current-show__label {
  float: right;
  padding: 5px;
  font-size: 1.2em;
}

.show-picker__wrapper {
  width: 50px;
}

.show-picker__button {
  font-size: 1.2em;
  color: #00CCC0;
  border: none;
  background: none;
}

.show-controls__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-controls__wrapper div {
  display: flex;
}