version: 2
jobs:
  build:
    branches:
      ignore: gh-pages

    docker:
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/openjdk:11-jdk-node

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}-{{ checksum "build.gradle" }}
            - v1-dependencies-

      - run:
          name: Prefetch Dependencies
          command: |
            npm install
            sudo npm install -g --silent gh-pages # ugh why sudo?
            ./gradlew model

      - save_cache:
          paths:
            - ~/.gradle
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}-{{ checksum "build.gradle" }}

      - run:
          name: Build
          # Make sure the webpack build runs after the gradle build
          # because it outputs directly into the gradle build directory
          command: |
            ./gradlew build dokka
            npm run build

      - add_ssh_keys:
          fingerprints:
            - "e6:55:46:24:0b:66:40:62:f9:72:10:00:de:41:37:e6"

      - store_artifacts:
          path: build/processedResources/js/main

      - run:
          name: Deploy to gh-pages
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              mkdir -p build/gh-pages/.circleci
              cp .circleci/gh-pages-config.yml build/gh-pages/.circleci/config.yml

              mkdir -p build/gh-pages/doc
              cp -r build/javadoc/* build/gh-pages/doc/.

              cp -r build/processedResources/js/main/. build/gh-pages

              git config --global user.email "ci-build@baaahs.org"
              git config --global user.name "CI Builder"
              gh-pages --dotfiles --message "Auto deploy" --dist build/gh-pages
            fi
