version: 2
jobs:
  build:
    branches:
      ignore: gh-pages

    docker:
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/openjdk:11-jdk-node-browsers

    resource_class: medium+

    working_directory: ~/repo

    environment:
      NO_GPU: "true"

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle.kts" }}
            - v1-dependencies-

      - run:
          name: Prefetch Dependencies
          command: |
            ./gradlew model -PisProduction

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle.kts" }}

      - run:
          name: Build
          command: |
            ./gradlew build -PisProduction -xjsBrowserTest --stacktrace --no-daemon --no-parallel --info

      - add_ssh_keys:
          fingerprints:
            - "e6:55:46:24:0b:66:40:62:f9:72:10:00:de:41:37:e6"

      - run:
          name: Save test results
          command: |
            mkdir -p build/test-results-circleci
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} build/test-results-circleci/ \;
          when: always

      - store_test_results:
          path: build/test-results-circleci

      - store_artifacts:
          path: build/processedResources/js/main

      - store_artifacts:
          path: build/reports

      - run:
          name: Deploy to gh-pages
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              mkdir -p build/gh-pages/.circleci
              cp .circleci/gh-pages-config.yml build/gh-pages/.circleci/config.yml

              cp -r build/distributions/* build/gh-pages

              # don't ignore files starting with _
              touch build/gh-pages/.nojekyll

              echo "Build ${CIRCLE_BUILD_NUM:-unknown} at `date`." > build/gh-pages/BUILT.txt

              git config --global user.email "ci-build@baaahs.org"
              git config --global user.name "CI Builder"

              mkdir -p deploy/node_modules
              npm install --prefix deploy --silent gh-pages@3.0
              `npm bin --prefix deploy`/gh-pages --dotfiles --message "Auto deploy" --dist build/gh-pages
            fi
