.menuBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background: #182128;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}


.title {
  font-size: 18px;
  color: white;
}

.menu {

}
