.modal__container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.modal__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  background-color: #333838;
}

.modal__wrapper--small {
  height: 40%;
  width: 50%;
}

.modal__wrapper--medium {
  height: 60%;
  width: 70%;
}

.modal__wrapper--large {
  height: 70%;
  width: 80%;
}

.close-button {
  background-color: transparent;
  color: #747F7F;
  font-size: 30px;
  position: absolute;
  top: -19px;
  right: -23px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
