.show-list--wrapper {
  height: auto;
  width: 100%;
  padding-left: .25em;
  padding-right: 1em;
  color: white;
  background-image: linear-gradient(to bottom right, #575f5f, #6F6F6F);
}

.show-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.show-list--title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.show-list--item {
  padding: 5px 0 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #1A4042;
  }
}

.selected {
  background-color: #4BBDC2 !important;
}
