.show-list--wrapper {
  float: right;
  height: auto;
  width: 25%;
  background: #343540;
}

.show-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.show-list--title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.show-list--item {
  padding: 5px 0 5px 10px;
  cursor: pointer;
}

.show-list--item:hover {
  background-color: #1A4042;
}

.selected {
  background-color: #4BBDC2 !important;
}
