/* press-start-2p-regular - latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/press-start-2p-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
       url('./fonts/press-start-2p-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/press-start-2p-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/press-start-2p-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/press-start-2p-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/press-start-2p-v8-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

body {
    color: #ffffff;
    background-color: #4F4F4F;
    margin: 0;
    overflow: hidden;
}

#sheepView {
    position: absolute;
    width: 80%;
    height: 80%;
}

#simulatorView {
    position: absolute;
    color: black;
    background-color: white;
    top: 5px;
    bottom: 5px;
    left: 80%;
    right: 5px;
    padding: .25em;
    font: 10pt Helvetica;
    border-radius: 5px;
}

#panelSelect {
    position: absolute;
    bottom: 0;
    left: 0;
}

#info2 {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
}

#networkPacketLossRate {
    background: blanchedalmond;
    display: inline-block;
    border: 2px inset;
    padding: 2px;
}

#beatsDiv > span {
    background-color: lightcyan;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0.5em;
    width: 1em;
    padding: 0.2em;
    margin-right: 2px;
    text-align: center;
}

#beatsDiv > span.selected {
    background-color: lightcoral;
}

.colorsDiv > span {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0.5em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    margin-right: 2px;
    margin-top: 2px;
}

.colorsDiv > span.selected {
    border: 2px solid black;
}

.showsDiv > span {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0.5em;
    /*width: .8em;*/
    /*height: .8em;*/
    padding: 0.2em;
    margin-right: 2px;
    margin-top: 2px;
}

.showsDiv > span.selected {
    border: 2px solid black;
}

.simulatorSection {
    display: block;
    border: 1px dashed gray;
    margin-bottom: 2px;
    padding: 2px;
}

.brain-box {
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 2px solid white;
}

.brain-offline {
    background-color: darkgrey;
}

.brain-link {
    background-color: orange;
}

#uiView1 {
    position: absolute;
    border: 1px solid white;
    border-radius: 1em;
    background-color: black;
    color: white;
    top: 50%;
    bottom: 5px;
    left: 5px;
    right: 21%;
    padding: .25em;
    font: 10pt Helvetica;
}


.mapperUi-screen {
    width: 100%;
    height: 100%;
}

.mapperUi-controls {
    position: absolute;
    z-index: 1;
}

.mapperUi-2d-canvas {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mapperUi-3d-div > canvas {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: lighten;
}

.mapperUi-diff-canvas {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px groove white;
}

.mapperUi-before-canvas {
    position: absolute;
    top: 310px;
    right: 10px;
    border: 1px groove white;
}

.mapperUi-after-canvas {
    position: absolute;
    top: 610px;
    right: 10px;
    border: 1px groove white;
}

.mapperUi-stats {
    position: absolute;
    right: 20px;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 8pt;
    text-align: right;
    width: 100%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.mapperUi-message {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16pt;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.mapperUi-message2 {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 7pt;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.mapperUi-table {
    position: absolute;
    top: 30px;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 7pt;
    width: 400px;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
    background: rgba(0, 0, 0, .5);
    height: 250px;
}

.sparklemotion-ui #simulatorView {
    left: auto;
    bottom: auto;
    padding: 1em;
    right: 50%;
    background-color: #4F4F4F;
}

video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}
