body {
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
}

#sheepView {
    position: absolute;
    width: 80%;
    height: 80%;
}

#simulatorView {
    position: absolute;
    color: black;
    background-color: white;
    top: 5px;
    bottom: 5px;
    left: 80%;
    right: 5px;
    padding: .25em;
    font: 10pt Helvetica;
    border-radius: 5px;
}

#panelSelect {
    position: absolute;
    bottom: 0;
    left: 0;
}

#info2 {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
}

#networkPacketLossRate {
    background: blanchedalmond;
    display: inline-block;
    border: 2px inset;
    padding: 2px;
}

#beatsDiv > span {
    background-color: lightcyan;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0.5em;
    width: 1em;
    padding: 0.2em;
    margin-right: 2px;
    text-align: center;
}

#beatsDiv > span.selected {
    background-color: lightcoral;
}

.colorsDiv > span {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0.5em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    margin-right: 2px;
    margin-top: 2px;
}

.colorsDiv > span.selected {
    border: 2px solid black;
}

.showsDiv > span {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0.5em;
    /*width: .8em;*/
    /*height: .8em;*/
    padding: 0.2em;
    margin-right: 2px;
    margin-top: 2px;
}

.showsDiv > span.selected {
    border: 2px solid black;
}

.simulatorSection {
    display: block;
    border: 1px dashed gray;
    margin-bottom: 2px;
    padding: 2px;
}

.brain-offline {
    background-color: darkgrey;
}

.brain-link {
    background-color: orange;
}

#uiView1 {
    position: absolute;
    border: 1px solid white;
    border-radius: 1em;
    background-color: black;
    color: white;
    top: 50%;
    bottom: 5px;
    left: 5px;
    right: 21%;
    padding: .25em;
    font: 10pt Helvetica;
}


.mapperUi-screen {
    width: 100%;
    height: 100%;
}

.mapperUi-controls {
    position: absolute;
    z-index: 1;
}

.mapperUi-2d-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mapperUi-3d-div {
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: lighten;
}

.mapperUi-diff-canvas {
    position: absolute;
    left: 600px;
    border: 1px groove white;
}

.mapperUi-stats {
    position: absolute;
    right: 20px;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 8pt;
    text-align: right;
    width: 100%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.mapperUi-message {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16pt;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.mapperUi-message2 {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 7pt;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.mapperUi-table {
    position: absolute;
    top: -300px;
    padding: 20px;
    color: #00ff00;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 7pt;
    width: 400px;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
    background: rgba(0, 0, 0, .5);
    height: 250px;
}

.sparklemotion-ui #simulatorView {
    left: auto;
    bottom: auto;
    padding: 1em;
}