.toggle-switch__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 50px;
    position: relative;
    margin-right: 10px;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 15px;
    transition: 0.3s;
  }

  input:checked + label {
    background: #FF4858;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}

.grid-slider {
  margin-top: 20px;
  margin-left: 10px;
}
