.FakeClientDevice--pad {
  position: absolute;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #4F4F4F;
  color: white;
  right: 5px;
  bottom: 5px;

  .FakeClientDevice-controls {
    position: absolute;
    font-size: 14px;
    top: -10px;
    right: 3px;
    color: #aaaaaa;
    z-index: 1;

    i {
      background: #666666;
      border-radius: 5px;
      color: #ffffff;
      padding: 3px;
    }
  }

  .FakeClientDevice--content {
    position: relative;
    width: auto;
    height: auto;
    margin: 9px;
    background-color: #4F4F4F;
  }
}
